.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    gap: 40px;
}

.bodyCards {
    max-width: 1060px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
